/*--------------------------------- HEADER ---------------------------------*/

*{
    margin: 0;
    padding: 0;
}
body{
	background-color: 	#99d8dd;
}
header{
    background-image:linear-gradient(to right ,#e1e8ec,#0079a9,#015b7f, #003d55);
    border-bottom: solid 1px rgb(31, 171, 171);
	height: 92px;
    width: 100%;
	top: 0;
    left: 0;
    right: 0;
}
a{
    text-decoration: none;
	color: #fff;
}
.ulHeader{
    display: inline-block;
    margin: 17px 60px 25px 60px;
	padding: 0;
	list-style: none;
    
}
.ulHeader li {
    display: inline-block;
    margin-right: 15px;
    align-content: center;
    padding: 10px;
    font-size: large;
    color: white;
}
.ulHeader li:hover{
    text-decoration: underline;
}
.ulHeader li:first-child{
    position: relative;
    top:10px;
    padding: 0;
}
#logo{
    position: absolute;
	top: 0;
	left: 20px;
	height: 100px;
}
#botonCarrito{
    position: absolute;
	top: 15px;
	right: 20px; 
	height: 30px;
}
#carrito{
    width: 52px;
}
#casita{
    width: 35px;
}
header div{
    text-align: center;
}


/*--------------------------------- MAIN ---------------------------------*/

#title{
	text-align: center;
}
form {
	max-width: 600px;
	margin: 0 auto;
	margin-top: 9vh;
	padding: 40px;
	background-color: #f5f5f5;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
} 
label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
input[type="email"], input[type="text"], textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
} 
textarea {
	resize: none;
	height: 70px;
} 
button#enviar[type="submit"] {
	width: 100%;
	padding: 10px;
	border: none;
	background-color: #4CAF50;
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	border-radius: 5px;
	transition: all 0.3s ease;
	text-align: center;
} 
button#enviar[type="submit"]:hover {
	background-color: #3e8e41;
}

/*--------------------------------- FOOTER ---------------------------------*/
  
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-image: linear-gradient(to right, #003d55, #015b7f, #0079a9, #e1e8ec);
	position: absolute;
	bottom: 0; 
	text-align: center;
	height: 85px;
}

footer a img {
	height: 20px;
	margin-right: 5px;
}

footer a{
	text-decoration: none;
	color: #ffffff;
	margin-right: 40px;
	display: flex;
    align-items: center;
	font-size: 20px;
}  

#copy{
	margin-right: 20px;
}

footer a:hover{
	text-decoration: underline;
	cursor: pointer;
}