
body{
    margin: 0;
    padding: 0;
}

header{
    z-index: 2;
    background-image:linear-gradient(to right ,#e1e8ec,#0079a9,#015b7f, #003d55);
    border-bottom: solid 1px rgb(31, 171, 171);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

button{
    all:unset;
}

.ulHeader{
    display: inline-block;
    margin: 17px 60px 25px 60px;
	padding: 0;
	list-style: none;  
}

.ulHeader li {
    display: inline-block;
    margin-right: 15px;
    align-content: center;
    padding: 10px;
    font-size: large;
    color: white;
}

.ulHeader li:hover{
    text-decoration: underline;
}

.ulHeader li:first-child{
    position: relative;
    top:10px;
    padding: 0;
}

#logo{
    position: absolute;
	top: 0;
	left: 70px;
	height: 100px;
}

#botonCasita{
    position: absolute;
	top: 15px;
	right: 20px; 
	height: 30px;
}
#casita{
    width: 52px;
}
header div{
    text-align: center;
}


.usuarios{ /*Esto es el cs del boton de usuarios!!*/
    position: absolute;
	top: 0;
	left: 42%;
	height: 100px;
}

.imagenUsuarios{  /*Esto es el cs de la imagen de usuarios!!*/
    position:absolute;
	top: 15px;
	left: 42%;
	height: 60px;
    border-radius: 10px;
    padding: 0 10px 0 10px;

}

.imagenUsuarios:hover{ /*Esto es el cs de lo que pasa cuando paso raton encima de usuarios!!*/
    
    transition: all 0.5s;
    background-color: #ffffff98;
}

.mensajes{/*Esto es el cs del boton de mensajes!!*/
    position: absolute;
	top: 0;
	left: 58%;
	height: 100px;
}

.imagenMensajes{ /*Esto es el cs de la imagen de mensajes!!*/
    position:absolute;
	top: 15px;
	left: 58%;
	height: 60px;
    border-radius: 10px;
    padding: 0 10px 0 10px;

}

.imagenMensajes:hover{ /*Esto es el cs de lo que pasa cuando paso raton encima de mensajes!!*/
    
    transition: all 0.5s;
    background-color: #ffffff98;
}

.boton1{
    height: 180px;
    width: 50%;
    background-color: #15769d;
    margin-left: 30%;
    margin-top: -42%;
    border-radius: 5px;
    display: none;
}
.boton2{
    height: 180px;
    width: 50%;
    margin-left: 30%;
    margin-top: -42%;
    border-radius: 5px;
}

#parrafo{
    display: inline;
    margin-left: 20%;
    height: 10px;
    width: 100%;
}
.informacion{
height: 15%;
width: 100%;
border-bottom: 1px solid black;

}

.imagenproducto{
    margin-left: 15%;
    height: 120px;
    width: auto;
    background-color: red;
    margin-right: 15%;
}

/*------------------------------------------CSS DE LA TABLA--------------------------------------------*/

.tablaDeInformacion{ /*ESTO es el css de la tabla en si */
   margin:80px auto 0 auto;
   width: 75%;
   border-collapse: collapse;
   padding: 5vh;
   font-size: x-large;
   transition: 0.8S;
}

td{ /*ESTO es el css de cada td*/
    margin-left: 30%;
    margin-top: 5%;
    border: 2px solid #015b7f;
    padding: 2% 15% 2% 2%;
    width: 20%;  
 } 
 

th{ /*ESTO es el css de cada th */
    border: 2px solid #015b7f;
    color: #e1e8ec;
    background-color: #15769d;
}

tr{ /*ESTO es el css de cada tr*/
    margin-left: 30%;
    margin-top: 5%;
    padding: 0% 15% 0% 2%;
}

.correo{  /*ESTO es el css de la columna del correo (email)*/
    width: 50%;
    margin: 5%;
    max-width: 200px; /* Tamaño máximo del texto en píxeles */
    overflow-x: auto; /* Oculta cualquier contenido que exceda el tamaño máximo */
    white-space: nowrap;
    
}

.contenidoMensaje{ /*ESTO es el css de la columna del contenido del mensaje*/
    width: 50%;
    margin: 5%;
    max-width: 200px; /* Tamaño máximo del texto en píxeles */
    overflow-x: auto; /* Oculta cualquier contenido que exceda el tamaño máximo */
    white-space: nowrap;
}


.desaparecio{
    display: none;
  }

@media screen and (max-width:694px) {
    .tablaDeInformacion{
        font-size: medium;
        transition: 0.8s;
    }

}

.imagenBasurita{
    width: 30px;
    margin-top:20px;
  }
.imagenBasurita:hover{
    src: "../Recursos/imagen/basuraAbiertaNegra";
}

