
body{
    margin: 0;
    padding: 0;
}

header{
    z-index: 2;
    background-image:linear-gradient(to right ,#e1e8ec,#0079a9,#015b7f, #003d55);
    border-bottom: solid 1px rgb(31, 171, 171);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

button{
    all:unset;
}

.ulHeader{
    display: inline-block;
    margin: 17px 60px 25px 60px;
	padding: 0;
	list-style: none;  
}

.ulHeader li {
    display: inline-block;
    margin-right: 15px;
    align-content: center;
    padding: 10px;
    font-size: large;
    color: white;
}

.ulHeader li:hover{
    text-decoration: underline;
}

.ulHeader li:first-child{
    position: relative;
    top:10px;
    padding: 0;
}

#logo{
    position: absolute;
	top: 0;
	left: 70px;
	height: 100px;
}

#botonCarrito{
    position: absolute;
	top: 15px;
	right: 20px; 
	height: 30px;
}
#carrito{
    width: 52px;
}
#casita{
    width: 40px;
    height: 50px;
}
header div{
    text-align: center;
}
.barraizquierda1{
    position:absolute;
    width: 15%;
    height: 765px;
    background-image: linear-gradient(#e1e8ec,#0079a9,#015b7f,#003d55 );
    margin-right: 0;
}
.usuarios:hover{
    box-shadow: 5px 5px 5px 5px black;
}
.usuarios{
    height: 20%;
    width: 50%;
    margin-top: 80%;
    margin-left: 20%;
    border-radius: 7%;
}
.mensajes{
    height: 20%;
    width: 50%;
    margin-top: 80%;
    margin-left: 20%;
    border-radius: 7%;
}
.mensajes:hover{
    box-shadow: 5px 5px 5px 5px black;
    transition: all 0.5s;
}
.boton1{
    height: 180px;
    width: 50%;
    background-color: #15769d;
    margin-left: 30%;
    margin-top: -42%;
    border-radius: 5px;
    display: none;
}
.boton2{
    height: 180px;
    width: 50%;
    margin-left: 30%;
    margin-top: -42%;
    border-radius: 5px;
}

#parrafo{
    display: inline;
    margin-left: 20%;
    height: 10px;
    width: 100%;
}
.informacion{
height: 15%;
width: 100%;
border-bottom: 1px solid black;

}

.imagenproducto{
    margin-left: 15%;
    height: 120px;
    width: auto;
    background-color: red;
    margin-right: 15%;
}

/*--------------------------------------------------------------------------------------*/

.tablaDeInformacion{ /*ESTO es el css de la tabla en si */
   margin-left: 20%;
   margin-top: 5%;
   width: 75%;
   border-collapse: collapse;
   padding: 5vh;
   font-size: x-large;
}

td{ /*ESTO es el css de cada td*/
    margin-left: 30%;
    margin-top: 5%;
    border: 2px solid #015b7f;
    padding: 2% 15% 2% 2%;
    width: 20%;
    
 } 

th{ /*ESTO es el css de cada th */
    border: 2px solid #015b7f;
    color: #e1e8ec;
    background-color: #15769d;
}

tr{ /*ESTO es el css de cada tr*/
    margin-left: 30%;
    margin-top: 5%;
    padding: 0% 15% 0% 2%;
}

.correo{  /*ESTO es el css de la columna del correo (email)*/
    width: 30%;
    margin: 5%;
    text-align: center;
}

.contenidoMensaje{ /*ESTO es el css de la columna del contenido del mensaje*/
    width: 50%;
    margin: 5%;
    overflow-y: auto;
    text-align: center;
}

.idMensaje{ /*ESTO es el css de la columna del id del mensaje*/
    width: 5%;
    margin: 5%;
}

#botonmensaje{
    /*display: none;*/
  }
