html{
    height: 100%;
}
body{
    font-size: x-large;
    background-image:  url(casa.png);
    background-repeat: no-repeat;
    background-size:  1600px;
    margin-top: 110px;

}
.imagen{
    margin: auto;
    padding-bottom: 15%;
    margin-bottom: 5%;
    margin-left: 66%;
    height: 65%;    
    width: 25%;
}
.logo{
    height: 120%;    
    width: 150%;
    margin-left: -130%;
    margin-top: -35%;   
}
.medio{
    height: 100%;
    width: 45%;
    background-color: white;
    margin-top: -80px;
    border-radius: 15px;
    opacity: 100%;
    background-image: linear-gradient(#01587a,#e1e8ec);
    border: 2px solid black ;
    opacity: 95%;
    margin-left: 27%;
}
.divcontra{
    font-size: x-large;
    color: #e1e8ec;
    border: 3px solid black;
    height: 220px;
    width: 80%;
    max-width: 200px;
    margin: auto;
    border-radius: 30px;
   
    margin-top: -10%;
    display: grid;
    grid-template-columns: auto;  
    margin-bottom: 20px;
}
.input{
    background-color: transparent;
    border-radius: 7px;
    border-color: #000000;
    color: black;
    width: 96%;
    height: 100%;
    margin: 0 auto 0 auto;
}
@font-face{
    font-family: OCEAN;
    src: url("../../recursos/Fuentes/Frosh.ttf");
}
.ocean{
    color: #e1e8ec;
    font-family: 'OCEAN';
    font-size: x-large;
    font-style: italic;
    margin-left: -100%;
    margin-top: -30%;
}
.parrafo{
   margin-left: 20%;
   margin-top: 10%;
   margin-bottom: 2%;
   height: 98%;
   width: 100%;
}
.boton{
    background-color: #e1e8ec;
    color: #000000;
    border-radius: 7px;
    border-bottom-left-radius:25px ;
    border-bottom-right-radius:25px ;
    background-image: linear-gradient(to right,#5cb3c1,#e1e8ec);
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
}
.boton:hover {
    transition: all 1s ease;
    background-image:linear-gradient(to right,#e1e8ec,#5cb3c1,#e1e8ec);
    color: #fff !important;
  }
  
#casita{
    width: 40px;
    height: 50px;
    
}
#botonPrincipal{
background-color: transparent;
border-radius: 7px;
margin-left: 8%;
margin-top: 5%;
}
#botonPrincipal:hover{
    transition: all 1s ease;
    box-shadow: 2px 2px 2px 2px black;
}

  
