body{/*se baja el padding y margen para no tener huecos entre la barra y y el principio de la pagina*/
    margin: 0;
    padding: 0;
    background-color:#e1e8ec ;
}
header{/*color y posicion fijada arriba*/
    background-image:linear-gradient(to right ,#e1e8ec,#0079a9,#015b7f, #003d55);
    border-bottom: solid 1px rgb(31, 171, 171);
    position: sticky;
    top:0;
    width: 100%;
    z-index: 2;
}
button{/*quita todo estilo del boton y pone el cursor diferente*/
    all:unset;
    cursor: pointer;
}
.ulHeader{/*es el contenedor de la lista*/
    display: inline-block;
    margin: 17px 60px 25px 60px;
	padding: 0;
	list-style: none;
    
}
.ulHeader li {/*cada elemento de la lista*/
    display: inline-block;
    margin-right: 15px;
    align-content: center;
    padding: 10px;
    font-size: large;
    color: white;
}
.ulHeader li:hover{/*subrayado cuando te pones encima*/
    text-decoration: underline;
}
.ulHeader li:first-child{/*cambia el css de la casita porque sino cambia el tamaño de la barra y lo descuadra*/
    position: relative;
    top:10px;
    padding: 0;
}
#logo{/*img del logo*/
    position: absolute;
	top: 0;
	left: 20px;
	height: 100px;
}
#botonCarrito{/*boton del carrito*/
    position: absolute;
	top: 15px;
	right: 20px; 
	height: 30px;
}
#carrito{/*imagen del carrito*/
    width: 52px;
}
#casita{/*imagen de la casita*/
    width: 35px;
}
div{/*AL HACER COPIA PEGA PONER header div{} PARA QUE NO OS MUEVA NADA EN OTROS DIVS QUE TENGAIS*//*para centrar el contenido de todos los div*/
    text-align: center;
}

/*------------------------------------main-------------------------------*/
.imagenPrincipal{/*el div que contiene el primer texto y pone la foto de fondo*/
    background-image: URL("..\\..\\Recursos\\Imagen\\Casas\\CasaNormal1\\1.jpg") ;
    background-repeat: no-repeat;
    /*background-position-y: -190px;*/
    background-size: 100% 100%;
    color: white;
    z-index: 1;
}
.imagenPrincipal div{
    backdrop-filter: brightness(0.6) blur(1px);
    padding: 110px 0 29% 0;
}

@media (max-width: 850px) {/*el responsivo de la imagen de fondo*/
    .imagenPrincipal div{
        padding: 70px 0 29% 0;
    }
}

.textoSobreNosotros{/*El titulo de sobre nosotros*/
    text-align: left;
    width: 60%;
    font-size: x-large;
    margin: auto;
    margin-bottom: 10px;
    text-shadow: 0 0 20px rgb(196, 196, 196);
}

.visionGeneral{/*la frase breve debajo de sobreNostros*/
    font-weight: bold;
    font-size: xx-large;
    width: 60%;
    margin: auto;
    text-align: left;
    text-shadow: 0 0 20px rgb(196, 196, 196);/*HAY QUE MIRAR QUE COLORES PONER EN EL GRADIENTE*/
}

.contenedorGrid{/*el contenedor de todas personas*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 120px;
}

.cadaPersona{/*div contenedor de cada persona*/
    margin:auto;
    width: 75%;
    height: 580px;
    border:0;
    padding-bottom: 20px;
    margin-bottom:80px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 #99d8dd, 0 6px 20px 0 #99d8dd;
}

.cadaPersona > p{/*son todos los parrafos de cada persona, es decir nombre, puesto...*/
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.fotoPersona{/*la foto de la persona*/
    width:250px;
    margin:30px auto 20px auto;
    border-radius: 25px;
}

.infoEmpresa{/*contenedor de los textos de mision vision y valores*/
    margin-bottom: 60px;
}

.infoEmpresa p{/*cada parrafo del contenedor de info empresa*/
    width: 70%;
    margin: auto;
    padding: 30px 0 30px 0;
    font-size: 20px;
}

/*--------------------------------- footer ---------------------------------*/
  
footer {/*estilo barra inferior*/
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-image: linear-gradient(to right, #003d55, #015b7f, #0079a9, #e1e8ec);
	position: static;
	bottom: 0; 
	text-align: center;
	height: 85px;
    border-top: solid 1px rgb(31, 171, 171);
}

footer a img {/*tamaño de las imagenes en los enlaces*/
	height: 20px;
	margin-right: 5px;
}

footer a{/*estilo de los enlaces*/
	text-decoration: none;
	color: #ffffff;
	margin-right: 40px;
	display: flex;
    align-items: center;
	font-size: 20px;
}  

#copy{/*texto copyright*/
	margin-right: 20px;
    color: white;
}

footer a:hover{/*subraya cuando te pones encima*/
	text-decoration: underline;
}

@media (max-width:615px) {/*PARA ARREGLAR EL RESPONSIVO DEL FOOTER*/
    footer a img {
        height: 15px;
    }
    footer a{
        margin-right: 18px;
        font-size: 15px;
    }  
}

/*--------------------barra lateral------------------*/
::-webkit-scrollbar {/*define tamaño de la barra para subir y bajar*/
    width: 10px;
    height: 5px;
}
  
::-webkit-scrollbar-thumb {/*estilo de lo que mueves de la barra*/
    background-color:#f3ba00;
    border-radius: 5px;
}
  
::-webkit-scrollbar-track {/*estilo del fondo de la barra*/
    background-image: linear-gradient(to bottom, #003d55, #015b7f, #0079a9, #e1e8ec);
}

.menuEnlace{
    all:unset;
    cursor: pointer;
}

/* -----------Botón volver arriba----------- */
#myBtn{
    display: none; 
    position: fixed; 
    bottom: 40px; 
    right: 40px; 
    z-index: 99; 
    border: none;
    background-color: transparent;
}

#myBtn:hover{
    cursor: pointer;
    box-shadow: 0 0 20px rgb(255, 0, 0);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 50%;
}

/* -----------Botón volver arriba----------- */
#botonFlecha{
    display: none; 
    position: fixed; 
    bottom: 50px; 
    right: 9px; 
    z-index: 99; 
    border: none;
    background-color: transparent;
    width: 8vh;
    height: 8vh;
}

#botonFlecha:hover{
    cursor: pointer;
    border-radius: 50%;
}

#flechita{
    width: 8vh;
    border-radius: 100%;
}

#flechita:hover{
    box-shadow: 0 0 13px rgb(171, 185, 96);
}

#sumaTotalCarrito {
    position: absolute;
    top: 50px;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f3ba00;
    color: white;
    font-size: 16px;
    font-weight: bold;
}