body{
    margin: 0;
    padding: 0;
}
header{
    background-image:linear-gradient(to bottom right ,#e1e8ec, #01587a);
    border-bottom: solid 1px rgb(31, 171, 171);
    position: relative; 
}
button{
    all:unset;
}
div ul{
    display: inline-block;
    margin: 25px 60px 25px 60px;
	padding: 0;
	list-style: none;
    
}
.ulHeader li {
    display: inline-block;
    margin-right: 15px;
    align-content: center;
    padding: 10px;
    font-size: large;
}
.ulHeader li:hover{
    text-decoration: underline;
}
#logo{
    position: absolute;
	top: 0;
	left: 20px;
	height: 90px;
}
#botonCarrito{
    position: absolute;
	top: 10px;
	right: 20px; 
	height: 30px;
}
header div{
    text-align: center;
}




.imagenPrincipal{
    background-image: URL("..\\..\\Recursos\\Imagen\\imagenPlaceHolder.jpg") ;
    padding: 300px 0 300px 0;
}
.textoSobreNosotros{

}
.visionGeneral{

}
.contenedorGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.cadaPersona{
    margin:auto;
    width: 75%;
    border:solid 1px;
}
.fotoPersona{
    width: 200px;
}
.infoEmpresa{
    margin-bottom: 60px;
}
.infoEmpresa p{
    width: 70%;
    margin: auto;
    padding: 30px 0 30px 0;
}