
/*CSS DEL HEADER :*/
body{
    margin: 0;
    padding: 0;
    background-color: #e1e8ec;
}

header{
    z-index: 2;
    background-image:linear-gradient(to right ,#e1e8ec,#0079a9,#015b7f, #003d55);
    border-bottom: solid 1px rgb(31, 171, 171);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

header button, .menuEnlace{
    all:unset;
    cursor: pointer;
}

.ulHeader{
    display: inline-block;
    margin: 17px 60px 25px 60px;
	padding: 0;
	list-style: none;  
}

.ulHeader li {
    display: inline-block;
    margin-right: 15px;
    align-content: center;
    padding: 10px;
    font-size: large;
    color: white;
}

.ulHeader li:hover{
    text-decoration: underline;
}

.ulHeader li:first-child{
    position: relative;
    top:10px;
    padding: 0;
}

#logo{
    position: absolute;
	top: 0;
	left: 20px;
	height: 100px;
}

#botonCarrito{
    position: absolute;
	top: 15px;
	right: 20px; 
	height: 30px;
}

#carrito{
    width: 52px;
}

#sumaTotalCarrito {
    position: absolute;
    top: 50px;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

#casita{
    width: 35px;
}

header div{
    text-align: center;
}



/*CSS DEL MAIN*/

.imagenYTextoYContenedor{ /*Esto es un contenedor de la imagen el texto y todo en general*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px,1fr));
    padding: 40px;
    background-color: #e1e8ec;
    width:80%;
    margin: 5% 10% 10% 10%;
   
}

.imagen{ /*Css de la imagen en si*/
    width: 120%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #e1e8ec;
    box-shadow: 0 4px 8px 0 #99d8dd, 0 6px 20px 0 #99d8dd;
    
}

.texto{ /*Css del texto en si*/
    text-align: left;
    height: 345px;
    width: 90%;
    overflow-y: auto;
    margin: 20px auto 0 25%; 
    box-shadow: 0 4px 8px 0 #99d8dd, 0 6px 20px 0 #99d8dd;
}


.texto p{ /*Css del parrafo que sale dentro del texto*/
    margin-left: 20px;
    margin-right: 20px;
}

.contenedorImagenes{ /*contenedor de imagenes pequeñitas*/
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 100%;
}

.imagenes{ /*Css de las imagenes pequeñitas en si*/
    width: 100%;
    
}

.botonImagen{ /*Boton de cuando clickas en una imagen pequeñita*/
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 #01587a, 0 6px 20px 0 #01587a;
    transition: transform 0.2s ease-in-out;
    border: 0;
}

.botonImagen:hover{/*Boton de cuando pasas por encima en una imagen pequeñita*/
    box-shadow: 0 4px 8px 0 #f3ba00, 0 6px 20px 0 #f3ba00;
    transform: scale(1.1);
    z-index: 1;
}


@media (max-width :1025px) { /*Cambios responsivos de la imagen para que cambie de tamaño al hacerlo pequeño*/
    .imagen{
    width: 100%;
}
.texto{ /*Cambios responsivos del texto para que cambie de tamaño al hacerlo pequeño*/
    width: auto;
    margin: 10% auto 0 10px;
    margin-bottom: 50px;
}
}

.cantidadSeleccionarYComprar{ /*Contenedor del boton de aumentar cantidad,seleccionar carrito y comprar*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 10%;

}

.contador { /*Css del contdor de seleccionar cantidad*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    border: solid 0;
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 #01587a, 0 6px 20px 0 #01587a;
    transition: transform 0.2s ease-in-out;
  }
  
  .numero { /*numeritos del contador*/
    font-size: 24px;
    font-weight: bold;
    width: 40px;
    text-align: center;
    border: none;
  }
  
  .boton-mas,
  .boton-menos { /*Botones de mas y menos*/
    font-size: 24px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
  }
  
  .boton-mas:hover,
  .boton-menos:hover { /*Lo que pasa cuando pasas el raton por encima del boton*/
    background-color: #aaa;
    
  }

  #botonAñadirCarrito{
    margin: 0 10px 0 0;
    border: solid 0;
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 #01587a, 0 6px 20px 0 #01587a;
    transition: transform 0.2s ease-in-out;
  }
  #botonAñadirCarrito:hover{
    box-shadow: 0 4px 8px 0 #f3ba00, 0 6px 20px 0 #f3ba00;
    transform: scale(1.1);
    z-index: 1;
}

#botonRealizarCompra{
    margin: 0 10px 0 10px;
    border: solid 0;
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 #01587a, 0 6px 20px 0 #01587a;
    transition: transform 0.2s ease-in-out;
  }
  #botonRealizarCompra:hover{
    box-shadow: 0 4px 8px 0 #f3ba00, 0 6px 20px 0 #f3ba00;
    transform: scale(1.1);
    z-index: 1;
}

#ConfirmarCantidad{

    width: 75%;
    margin-left: -30%;
    
    border: solid 0;
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 #01587a, 0 6px 20px 0 #01587a;
    transition: transform 0.2s ease-in-out;
}

#ConfirmarCantidad:hover{
    box-shadow: 0 4px 8px 0 #f3ba00, 0 6px 20px 0 #f3ba00;
    transform: scale(1.1);
    z-index: 1;
}



/*FOOTER CSS*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-image: linear-gradient(to right, #003d55, #015b7f, #0079a9, #e1e8ec);
	position: static;
	bottom: 0; 
	text-align: center;
	height: 85px;
}

footer a img {
	height: 20px;
	margin-right: 5px;
}

footer a{
	text-decoration: none;
	color: #ffffff;
	margin-right: 40px;
	display: flex;
    align-items: center;
	font-size: 20px;
}  

#copy{
	margin-right: 20px;
    color: white;
}

footer a:hover{
	text-decoration: underline;
}

@media (max-width:615px) {
    footer a img {
        height: 15px;
    }
    
    footer a{
        text-decoration: none;
        color: #ffffff;
        margin-right: 18px;
        display: flex;
        align-items: center;
        font-size: 15px;
    }  
}

/*--------------------barra lateral------------------*/
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:#f3ba00;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom, #003d55, #015b7f, #0079a9, #e1e8ec);
  }

    /* -----------Botón volver arriba----------- */
#botonFlecha{
    display: none; 
    position: fixed; 
    bottom: 50px; 
    right: 9px; 
    z-index: 99; 
    border: none;
    background-color: transparent;
  }

  #botonFlecha:hover{
    cursor: pointer;
    box-shadow: 0 0 20px rgb(171, 185, 96);
    /* transition: box-shadow 0.3s ease-in-out; */
    border-radius: 50%;
  }

#flechita{
    width: 10vh;
}