header{        
    font-size: 4vh;        
}

#tituloCabecera{
    margin-top: -20vh;
    margin-left: 2vh;
} 

#tituloCabecera2{
    margin-top: -4vh;
    margin-left: 40vh;
} 

.barra{
    height: 10vh;
}
.ulBarra li {
    padding: 10px;
}

.imagenes{
    height: 65vh;
    width: 100%;
}

#informacion, #colaboradores, #colaboradores2{
    width: 60%;
    height: 70%;
}

#titulito{
    font-size: 5vh;
    margin-top: -25vh;
}

#minions{
    width: 35vh;
    margin-left: -60vh;
    margin-top: 5vh;
}

#titulito2{
    margin-top: -20vh;
    margin-left: 40vh;
}

.textito{
    margin-left: 0;
}

.textito2{
    margin-top: 4vh;
    margin-left: 22vh;
}

#monos{
    margin-left: -50vh;
    margin-top: 5vh;
}

#titulito3{
    font-size: 3vh;
    margin-top: -22vh;
    margin-left: 5vh;
}

#minions{
    width: 30vh;
    margin-left: -25vh;
    margin-top: 10vh;
}

#titulito2{
    font-size: 3vh;
    margin-left: 1vh;
    margin-top: -23vh;
}

footer a{
	font-size: 20px;
    margin-right: 40px;
}  