/*VARIABLES*/
:root{
    --gris: #e1e8ec;
    --ocean: #5cb3c1;
    --paradise: #99d8dd;
    --letras: #01587a;
}

/*TODA LA PÁGINA*/
*{ 
    /*Para quitar los márgenes*/
    margin: 0;
    padding: 0;
    text-align: center; /*Alinear en el centro los textos*/
    font-weight: bold;  /*Poner negrita*/
}

/*Fuente descargada*/
@font-face{                                       /*Declaramos para usarla*/
    font-family: OcenaParadise;                         /*Nombre puesto por nosotros*/
    src: url("../../recursos/Fuentes/Frosh.ttf"); /*Donde se coge*/
}

/*CABECERA*/
header{        
    background-color: var(--gris); 
    height: 23vh;                  
    top: 0;                         
    /*Texto*/
    font-family: "OcenaParadise";   
    font-size: 3vh;   
    text-shadow: 0.1em 0.1em 0.2em black; /*Sombrear*/
}

/*Título de la cabecera*/
#tituloCabecera{
    /*Centrar / colocar a la izquierda del título*/
    margin-top: -15vh;
    color: var(--ocean);
} 

#tituloCabecera2{
    /*Centrar / colocar a la izquierda del título*/
    margin-top: -4vh;
    margin-left: 28vh;
    color: var(--paradise);
} 

#loguitoOcean{
    width: 20vh;
    margin-top: -2vh;
    margin-left: -15vh;
    margin-right: 15vh;
}

body{
    background-color: var(--gris);
}

/*BARRA DE NAVEGACIÓN*/
.barra{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to right ,#78cdff,#0079a9,#015b7f, #003d55);
    border-bottom: solid 1px rgb(31, 171, 171);
    /* position: fixed; */
    width: 100%;
    height: 20vh;
}

.menuEnlace{
    all:unset;
    cursor: pointer;
}

.ulBarra{
    display: inline-block;
    margin: 17px 60px 25px 60px;
	padding: 0;
	list-style: none;
    
}
.ulBarra li {
    display: inline-block;
    margin-right: 15px;
    align-content: center;
    padding: 5px;
    font-size: large;
    color: white;
}
.ulBarra li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.ulBarra li:first-child{
    position: relative;
    top:10px;
    padding: 0;
}

#botonCarrito{
    position: absolute;
	top: 25vh;
	right: 20px; 
	height: 30px;
    cursor: pointer;
}
#carrito{
    width: 52px;
}
#casita{
    width: 35px;
}

.barra div{
    text-align: center;
}

/*CUERPO - CARRUSEL*/
#carrusel-contenido { /*Ocultar el resto de imágenes y no salga la barra, para evitar desplazar para no verla*/
    overflow: hidden;
    text-align: left;
}

#carrusel-caja { 
    /*Tiempo de tránsito y modo de ejecución*/
    animation: automatizacion 30s infinite linear; 
             /*automatizacion: Nombre de como se comporta la animación, abajo se especifica -> @keyframes
                              30s: Tiempo de ejecución por secuencia
                                   infinite: Nunca termina
                                           linear: misma velocidad de principio a fin*/
    transition: all 5s ease; 
              /*all: en todas las diapositivas
                    5s: Tiempo de transición
                     ease: comienzo lento, luego rápido*/
    width: 300%;
}

/*Div de la imagen esté a la izquierda y ocupe una 3º parte de todo, de ese modo nunca hay espacio cuando en la transición de la siguiente 
imagen no quede espacio vacío*/
.carrusel-elemento {
    float: left;
    width: 33.333%;
}

/*Misma dimensiones para todas*/
.imagenes{
    height: 55vh;
    width: 100%;
}

/*Trasición de izquierda a derecha y vuelta atrás*/
@keyframes automatizacion {
    /*Derecha a Izquierda*/
    0% {
        margin-left: 0;
    }
    10% {
        margin-left: 0;
    }
    20% {
        margin-left: -100%;
    }
    30% {
        margin-left: -100%;
    }
    40% {
        margin-left: -200%;
    }
    50% {
        margin-left: -200%;
    }
    /*Izquierda a Derecha*/
    60% {
        margin-left: -100%;
    }
    70% {
        margin-left: -100%;
    }
    80% {
        margin-left: 0;
    }
    100% {
        margin-left: 0;
    }
}

/*CUADRADO INFORMACIÓN DE EMPRESA*/
#desplazarInformacion{
    margin-top: 2vh;
}

#colaboradores, #colaboradores2, #informacion{
    width: 90%;
    height: 70%;
}

#logo{
    width: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

#titulito{
    font-size: 2.5vh;
    margin-top: -26vh;
}

.textito{
    font-size: 3vh;
    margin-top: 1vh;
    margin-left: 8vh;
    color: var(--letras);
}

#colaborar{
    font-size: 8vh;
}

/*CUADRADO DE INFORMACIÓN DE SERVICIOS*/
#container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1vh;
}

/*CUADROS DE INFORMACIÓN Y COLABADORES*/
#colaboradores, #colaboradores2, #informacion{
    margin:auto;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
    border-radius: 5vh;
    box-shadow: 0 0 30px -10px /*#f3ba00*/;
}

#minions{
    width: 25vh;
    margin-left: -25vh;
    margin-top: 8vh;
}

#titulito2{
    font-size: 2.5vh;
    margin-top: -20vh;
}

.textito2{
    font-size: 3vh;
    margin-top: 3vh;
    margin-left: 20vh;
    color: var(--letras);
}

#monos{
    width: 20vh;
    margin-left: -35vh;
    margin-top: 5vh;
}

#titulito3{
    font-size: 3vh;
    margin-top: -25vh;
}

 /*--------------------------------- footer ---------------------------------*/
  
 footer {/*estilo barra inferior*/
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-image: linear-gradient(to right, #003d55, #015b7f, #0079a9, #e1e8ec);
	position: static;
	bottom: 0; 
	text-align: center;
	height: 85px;
    border-top: solid 1px rgb(31, 171, 171);
}

footer a img {/*tamaño de las imagenes en los enlaces*/
	height: 20px;
	margin-right: 5px;
}

footer a{/*estilo de los enlaces*/
	text-decoration: none;
	color: #ffffff;
	margin-right: 40px;
	display: flex;
    align-items: center;
	font-size: 20px;
}  

#copy{/*texto copyright*/
	margin-right: 20px;
    color: white;
}

footer a:hover{/*subraya cuando te pones encima*/
	text-decoration: underline;
}
@media (max-width:615px) {/*PARA ARREGLAR EL RESPONSIVO DEL FOOTER*/
    footer a img {
        height: 15px;
    }
    footer a{
        margin-right: 18px;
        font-size: 15px;
    }  
}
/*--------------------barra lateral------------------*/
::-webkit-scrollbar {/*define tamaño de la barra para subir y bajar*/
    width: 10px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {/*estilo de lo que mueves de la barra*/
    background-color:#f3ba00;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {/*estilo del fondo de la barra*/
    background-image: linear-gradient(to bottom, #003d55, #015b7f, #0079a9, #e1e8ec);
  }

/* -----------Botón volver arriba----------- */
#botonFlecha{
    display: none; 
    position: fixed; 
    bottom: 50px; 
    right: 9px; 
    z-index: 99; 
    border: none;
    background-color: transparent;
    width: 8vh;
    height: 8vh;
}

#botonFlecha:hover{
    cursor: pointer;
    border-radius: 50%;
}

#flechita{
    width: 8vh;
    border-radius: 100%;
}

#flechita:hover{
    box-shadow: 0 0 13px rgb(171, 185, 96);
}

/*Número de carrito*/
#sumaTotalCarrito {
    position: absolute;
    top: 230px;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f3ba00;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }