header{        
    font-size: 4vh;        
}

#tituloCabecera{
    margin-top: -20vh;
    margin-left: 2vh;
} 

#tituloCabecera2{
    margin-top: -4vh;
    margin-left: 40vh;
} 

.barra{
    height: 10vh;
}
.ulBarra li {
    padding: 10px;
}

#logo{
    display: flex;
    justify-content: start;
    align-items: center;
}

.imagenes{
    height: 65vh;
    width: 100%;
}

#informacion, #colaboradores, #colaboradores2{
    width: 70%;
    height: 70%;
}

#titulito{
    font-size: 200%;
    margin-top: -28vh;
}

#minions{
    width: 35vh;
    margin-left: -60vh;
    margin-top: 5vh;
}

#titulito2{
    margin-top: -20vh;
    margin-left: 40vh;
}

.textito{
    margin-left: 0;
}

.textito2{
    margin-top: 4vh;
    margin-left: 22vh;
}

#monos{
    margin-left: -50vh;
    margin-top: 5vh;
}

#titulito3{
    font-size: 3vh;
    margin-top: -22vh;
    margin-left: 5vh;
}

#minions{
    width: 30vh;
    margin-left: -25vh;
    margin-top: 10vh;
}

#titulito2{
    font-size: 3vh;
    margin-left: 1vh;
    margin-top: -23vh;
}

footer a{
	font-size: 20px;
    margin-right: 40px;
}  

/*BARRA DE CARGA*/

*,*:after, *:before{
    margin: 0;
    padding: 0;
}

#contenedorCirculoCarga{
    background-color: rgba(250,240,245,0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    z-index: 10000;
}

#circuloCarga{
    border: 15px solid #337ee0;
    border-top-color: f4266a;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from {transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}